* {
    box-sizing: border-box;
  }
  

  html, body {
    font-family: 'open sans', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    /* border: thin dashed purple; */
  }
  
  .container {
    margin-top: 130px;
    padding: 100px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 100%;
    /* border: thin solid red; */
  }

  .information {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: hsl(246, 38%, 16%);
    color: white;
    padding: 40px 0px 40px 80px;
    width: 50%;
    height: inherit;
    /* border: thin solid blue; */

  }

  .image {
    background-image: url('../images/image-header-desktop.jpg');
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    width: 50%;
    height: inherit;
    /* border: thin solid lime; */
  }

  .overlay {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: inherit;
    height: 100%;
    width: 100%;
    background: rgba(129, 29, 190, 0.6)
  }

  .stats {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    width: 70%;
    /* border: thin solid seagreen; */
  }

  h1 {
    width: 80%;
  }

  p {
    font-size: 14px;
    color: #8b88a3;
    width: 70%;
  }

  h2 {
    width: 20%;
    /* border: thin dashed yellow */
  }


  span.labels {
    text-transform: uppercase;
    font-size: 12px;
    color: #8b88a3;
    letter-spacing: 2px;
    /* border: thin solid pink; */
  }

  .title {
    color: #8e4cb1;
  }

  .attribution { 
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    font-size: 11px; 
    color: #8b88a3;
   }

  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }


  /* FOR MOBILE SCREENS */

@media (max-width:600px) {
    .container {
        justify-content: center;
        margin: 100px 0;
        padding: 30px;
    }
  
    .panel {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    width: 100%;
    }

    .information{
        padding: 0;
        order: 2;
        border-radius: 0 0 10px 10px;
    }

    p {
        width: 240px;
    }

    h1 {
        justify-content: center;
        width: 100%;
        text-align: center;
        /* border: thin dashed pink; */
    }

    .stats {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
    }

    .labels {
        display: flex;
        justify-content: center;
    }
  
    .image {
        background-image: url(../images/image-header-mobile.jpg);
        height: 500px;
        border-radius: 10px 10px 0 0;

  }

  .attribution {
      display: none;
  }
  
}